

h1 { 
    color: #420649;
    background-color: #d58ddd;
    text-align: center;
}

.paragraph-one {
    color: white;
    background-color: #7d3030;
    font-size: x-large;
    width: 50%;
    margin-left: 25%;
}


.about {
    font-size: large;
    background: rgb(62, 182, 62);
    background-color: #66ca87;
    color: #1d6836;
    margin-left: 2px;
    margin-right: 95%;
    transition: 2s;
    width: 100px;
}

.about:hover {
    width: 800px;

}

.vision {
    color: white;
    background-color: #7d3030;
    padding: 50px;
    margin-left:  700px;
    margin-right: 700px;
    border: 15px inset green;
    font-size: x-large;
    text-align: center;

}

a {
    padding: 10px;
}

h1:hover {
    color: #420649;
    background-color: aquamarine;

}

h2:hover {
    color: #420649;
    background-color: aquamarine;

}

.paragraph-one:hover {
    color: #420649;
    background-color: aquamarine;

}

.paragraph-two:hover {
    color: #420649;
    background-color: aquamarine;
}

a:hover {
    color: #420649;
    background-color: aquamarine;
}

h2:hover {
    color: #420649;
    background-color: aquamarine;
}

.vision:hover {
    color: #420649;
    background-color: aquamarine;
}

p:hover {
    color: #420649;
    background-color: aquamarine;
}