h1 {
    color: #420649;
    background-color: #d58ddd;
    text-align: center;
    font-size: xx-large;

}
    

button {
    background-color: rgb(84, 84, 192);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.5s ease;

}

button:hover {
    background-color: rgb(159, 207, 36);
}

.welcome-paragraph {
    color: #260985;
    margin: 5%;
    padding: 10%;
    background-image: url('/images/poor-child-educate.jpg');
    background-repeat: no-repeat;
    font-size: 120%;
    text-align: bottom;


}


.paragraph-one {
    color: white;
    background-color: #7d3030;
    font-size: x-large;
    width: 50%;
    margin-left: 25%;
}


h1 {
    color: #420649;
    background-color: #d58ddd;
    text-align: center;
}

h2 {
    color: #420649;
}

.article-two {
    font-size: large;
    color: rgb(173, 234, 234);
    background-color: #38053e;
    width: 53%;

}

.article-one {
    color: rgb(173, 234, 234);
    background-color: #d58ddd;
    margin-left: 23%;
    margin-top: 10%;
    margin-bottom: 5%;
    border: 15px groove green;
    padding: 1%;
    width: 70%;
    height: 50%;
}



