

.home {
    font-size: large;
    background: rgb(62, 182, 62);
    background-color: #66ca87;
    color: #1d6836;
    margin-left: 2px;
    margin-right: 95%;
    transition: 2s;
    width: 400px;
}

.home:hover {
    width: 800px;

}

h1 {
    color: #420649;
    background-color: #bf63c9;
    text-align: center;
    font-size: xx-large;

}
    
.welcome-paragraph {

    color: #260985;
    font-size: 150%;
    padding: 20px;
    margin-right: 10%;
    border: inset;
    margin-left: 30%;
    
}


.paragraph-one {
    color: white;
    background-color: #9e4d4d;
    font-size: x-large;
    width: 50%;
    margin-left: 25%;
    padding: 60px;
    border: inset;
    text-align: center;
    
}

.train {
    font-size: x-large;
    padding: 20px;
    border: inset;
    color: rgb(6, 109, 6);
    background: rgb(97, 206, 75);
    transition: 2s;
    width: 700px;
    height: 150px;

}

.train:hover {

    color: black;
    width: 900px;
}

h2 {
    color: #1d6836;
    text-align: right;
    font-size: xx-large;
    margin-left: 70%;
    padding: 30px;
    margin-right: 0%;
    border: inset;
}

.upgrade { 
    font-size: xx-large;
    background: rgb(97, 206, 75);
    transition: 2s;
    width: 700px;
    height: 50px;

}


.upgrade:hover {
    color: #774504;
    width: 900px;
}

h1:hover {
    color: antiquewhite;
}


h2:hover {
    color: rgb(26, 24, 22);
}

.welcome-paragraph:hover {
    color: antiquewhite;
}

.paragraph-one:hover {
    color: rgb(66, 163, 103);
}

footer {
color: rgb(7, 238, 7);

}

footer:hover {

    color: black;
}






.help {
    padding: 20px;
    margin-left: 60px;
    margin-right: 50px;
    border: inset;
    font-size: xx-large;
    color: red;
    transition: 2s;
    width: 300px;
    height: 100px;

}

.help:hover{
    color:black;
    width: 700px;
}

div.gallery {
    border: 1px solid #ccc;
    
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height:auto;
}

div.describe-photo {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.grid-images {
    padding: 0 6x;
    float: left;
    width: 29.99999%;
}

@media only screen and (max-width: 700px) {
    .grid-images {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .grid-images {
        width: 100%;
    }
}



.clearfix::after {
    content: "";
    display: table;
    clear: both;

}

.copyright {
    width: 250px;
    height: 20px;
    background-color: #9e4d4d;
    transition: 3s;
}

.copyright:hover {
    width: 400px;

}